/* .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
} */

.contact h2 {
    margin-top: -20px;
    margin-bottom: -20px;
    color: var(--peach);
    font-size: 50px;
}

.contact-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 580px;
    margin: 10px 0 0;
}

.contact-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 280px;
    padding: 30px;
    font-size: 70px;
    color: var(--peach);
    cursor: pointer;
    transition: width 0.3s;
}

.contact-icons h3 {
    color: var(--light-blue);
    font-size: 15px;
}

.contact-socials button {
	width: 180px;
	height: 60px;
    margin-top: 40px;
	background-color: transparent;
	border: 3px solid var(--peach);
	border-radius: 20px;
	color: var(--peach);
	font-family: var(--smalltext);
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;

}

.contact-socials button:hover {
	width: 225px;
	color: var(--bg);
	background-color: var(--peach);
	font-weight: 450;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  input, textarea {
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background: var(--peach);
    border: 2px solid var(--peach);
    color: var(--dark-blue);
  }
  
  .contact-btn {
    width: 180px;
	height: 60px;
	background-color: transparent;
	border: 3px solid var(--peach);
	border-radius: 20px;
	color: var(--peach);
	font-family: var(--smalltext);
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
    margin-left: 160px;
	text-transform: uppercase;
	cursor: pointer;
}

.contact-btn:hover {
	color: var(--bg);
	background-color: var(--peach);
}

@media all and (max-width: 320px) {
    .contact {
        margin: 20px 0;
        width: 900px;
    }
    .contact-container {
        /* flex-direction:column; */
        grid-template-columns: repeat(1, auto);
        margin: 0 0 40px;
    }


}

