header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	min-height: 550px;
	text-align: center;
  background-color: antiquewhite;
}

header h1 {
	/* color: var(--accent);
	font-family: var(--bigtext); */
	font-size: 84px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: -1.5px;
	margin: 0 20px 40px;
  text-align: end;
}

header h2 {
	font-size: 50px;
	letter-spacing: -1px;
	line-height: 50px;
	margin: 0 20px 40px;
}

header h2 span {
	font-weight: 600;
}

header p {
	width: 500px;
	text-align: end;
  font-size: 20px;
	margin: 0 20px 40px;
}

header button {
	width: 180px;
	height: 60px;
	background-color: antiquewhite;
	border: 2px solid;
	border-radius: 10px;
	font-family:sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
	transition: width 0.5s, color 0.5s, background-color 0.5s,
		font-size 0.5s, font-weight 0.5s;
  margin: 0 20px 40px;
}

header button:hover {
	width: 250px;
	/* color: var(--bg); */
	background-color: lightgoldenrodyellow;
	font-weight: 600;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.image {
	z-index: 1000;
	align-content:flex-start;
  display: flex;
	top: 600px;
	left: 500px;
  
}

.image-profile {
	position: relative;
	width: 500px;
	height: 600px;
  align-content:flex-start;
}

.image-profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius: 30px;
  align-content:flex-start;
}

.social {
  width: 180px;
	height: 60px;

}

.social::after {
 
}

@media all and (max-width: 1200px) {
	header h1 {
		font-size: 74px;
	}
}
@media all and (max-width: 1000px) {
	header h1 {
		font-size: 60px;
		margin: 10px 0;
	}
	header h2 {
		font-size: 48px;
		width: 350px;
	}
	header p {
		width: 400px;
	}
    .header-text {
		text-align: right;
	}
}

@media all and (max-width: 800px) {
	header {
		justify-content: center;
		align-items: center;
	}
	header h1, header h2, header p {
		text-align: center;
	}
	header h1 {
		font-size: 54px;
	}
	header h2 {
		font-size: 42px;
		line-height: 44px;
		width: 100%;
	}
	header p {
		width: 100%;
	}
	.header-text {
		align-items: center;
		width: 100%;
		padding: 0 40px;
	}
}
