.slider {
    position: relative;
    margin-left: 26px;
  }
  
  .image {
    width: 900px;
    height: 300px;
    object-fit:contain;
  }
  
  .right-arrow {
    position:absolute;
    top: 50%;
    right: 5px;
    font-size: 30px;
    color: var(--peach);
    z-index: 10;
    cursor: pointer;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 30px;
    color: var(--peach);
    z-index: 10;
    cursor: pointer;
  }
  
  .slide {
    opacity: 20;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
  }