.slider {
    position: relative;
    margin-left: 26px;
    /* padding-left: 200px; */
  }
  
  .image {
    object-fit: contain;
    width: 690px;
    height: 290px;
    border-radius: 20px;
   /* padding-right: -200px; */
  }
  
  
  .right-arrow {
    position:absolute;
    top: 50%;
    right: 5px;
    font-size: 30px;
    color: var(--peach);
    z-index: 10;
    cursor: pointer;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 30px;
    color: var(--peach);
    z-index: 10;
    cursor: pointer;
  }
  
  .slide.active {
    opacity: 500;
    transition-duration: 1s;
    transform: scale(1.08);
  }