.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 9999;
    right: 45px;
    width: 3000px;
    height: 60px;
    background: var(--bg);
    text-decoration: none;
    padding-right: 100px;
}

.navbar p:hover {
    text-decoration: none;
}

.home {
    margin: 10px;
    padding-top: 15px;
}

.home p {
    color: var(--light-blue);
    font-size: 20px;
}

.home p:hover {
    color: var(--peach);
}

.home a {
    text-decoration: none;
}

.about {
    margin: 10px;
    padding-top: 15px;
}

.about p {
    color: var(--light-blue);
    font-size: 20px;
}

.about p:hover {
    color: var(--peach);
}

.about a {
    text-decoration: none;
}

.projects {
    margin: 10px;
    padding-top: 15px;
}

.projects p {
    color: var(--light-blue);
    font-size: 20px;
}

.projects p:hover {
    color: var(--peach);
}

.projects a {
    text-decoration: none;
    font-size: 0px;
}