/* body {
    background: #FFFFE3;
    color: #253A52;
    padding: 25px;
    font-family: sans-serif;
    max-width: 1024px;
    margin: 0 auto;
  } */



/* 
.title1 {

}

.img1 {

}

.btn1 {

} */ 