
  .project {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 1000px;
    background-color: var(--dark);
    border-radius: 10px;
    margin: 10px 0 80px;
}

.project-img {
    position: relative;
    width: 50%;
    height: 100%;
    background: var(--accent);
    border-radius: 10px;
    }

.project-img img {
    width: 550px;
    height: 400px;
    object-fit: fill;
    object-position: 0 0;
    border-radius: 10px;
    transition: opacity 0.25s, filter 0.25s;
    }

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 60px
}

.project-text h3 {
    color: var(--light);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.project-link a {
    margin-right: 25px;
}

.icon {
    font-size: 25px;
}


.skills-text {
    color: blue;
    font-size: 14px;
}

@media all and (max-width: 1200px) {
    .project {
        width: 100%;
    }
    .project-imag {
        width: 45%;
    }
	.project-text {
        width: 55%;
        padding: 40px;
    }
}

@media all and (max-width: 800px) {
    .project {
        flex-direction: column;
        height: auto;
    }
    .project-imag {
        height: 400px;
    }
    .project-imag,
    .project-text {
        width: 100%;
    }
    .project-text h3 {
        font-size: 24px;
    }
}



